.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-container input,
.auth-container button {
  margin: 8px;
  padding: 10px;
  width: 250px;
}
